name: CD

on:
  push:
    branches: [main]
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: extractions/setup-just@v2
      - uses: dtolnay/rust-toolchain@stable
        with:
          target: aarch64-apple-ios aarch64-apple-ios-sim x86_64-apple-ios

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
      - name: Build
        run: just build-release
      - name: Prepare deployed version
        run: just make_dist
      - name: Push
        uses: s0/git-publish-subdir-action@develop
        env:
          SQUASH_HISTORY: true
          REPO: self
          BRANCH: v-0.1.0
          FOLDER: ./dist # The directory where your assets are generated
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # GitHub will automatically add this - you don't need to bother getting a token
          MESSAGE: "Build: ({sha}) {msg}" # The commit message
